*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#0d0d0f;
}

.calculator{
width:350px;
background:#141418;
padding:20px;
border-radius:20px;
box-shadow:0 0 20px rgba(0,229,255,0.3);
}

.display{
background:#050507;
padding:15px;
border-radius:10px;
text-align:right;
margin-bottom:15px;
}

#expression{
color:#777;
font-size:14px;
height:20px;
}

#result{
color:white;
font-size:35px;
font-weight:bold;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
height:60px;
border:none;
border-radius:10px;
background:#1c1c22;
color:white;
font-size:20px;
cursor:pointer;
}

button:hover{
background:#26262e;
}

.operator{
color:#00e5ff;
}

.equal{
background:#00e5ff;
color:black;
font-weight:bold;
}

.clear,.delete{
color:#ff3cac;
}